@media only screen and (max-width: 1000px) {
    .build-container {
        padding-right: 3rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 1rem 3rem;
        grid-template-areas:
          "the-paperweights cantstopcbus cbusremembers"
          "evan-blog hillside contractor"
          "under-construction . .";
      }
}

@media only screen and (max-width: 875px) {
    .about-info {
        font-size: .9rem;
        width: 80%;
        line-height: 1.25rem;
    }
}

@media only screen and (max-width: 750px) {
    .build-img {
        width: 10rem;
    }
}

@media only screen and (max-width: 600px) {
    .about-info {
        font-size: .85rem;
        width: 100%;
        line-height: 1.1rem;
    }
}

@media only screen and (max-width: 525px) {
    .build-img {
        width: 9rem;
        
    }

    .build-container {
        text-align: center;
        padding-right: 3rem;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem 3rem;
        grid-template-areas:
          "the-paperweights cantstopcbus"
          "cbusremembers evan-blog"
          "hillside contractor"
          "under-construction .";
      }

      #title {
          font-size: 3rem;
      }
}

@media only screen and (max-width: 510px) {
    #title {
        margin-top: 3.5rem;
    }
}

@media only screen and (max-width: 450px) {
    .banner-menu {
        margin-right: .25rem;
    }

    .logo {
        display: none;
    }

    .about-info {
        width: 80%;
        min-width: 300px;
        padding-right: 3rem;
    }

    #title {
        font-size: 2.5rem;
    }

    .form-container {  
        text-align: center;
    }
}

