@media only screen and (max-width: 375px) {
    .basic-info {
        margin-left: .10rem;
    }
}

@media only screen and (max-width: 400px) {
    .logo {
        display: none;
    }
}

@media only screen and (min-width: 500px)
                   and (max-width: 530px) {
    .logo {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .nav-btn {
        margin-right: .75rem;
    }

    .guide {
        display: flex;
    }  
    
    
    .skill-set-grid-container {
        padding-top: 6rem;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 3rem 0px;
        grid-template-areas:
          "web-dev"
          "front-end"
          "project";
      }
}

@media only screen and (min-width: 500px)
                   and (max-width: 700px) {
    
    .skill-set-grid-container {
        padding-top: 6rem;
        margin-bottom: 4rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem 0px;
        grid-template-areas:
            "web-dev front-end"
            "project project";
        }                
}

@media only screen and (max-width: 700px) {

    .home-grid-container {
        padding-top: 6rem;
        padding-bottom: 6rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 6rem 0rem;
        grid-template-areas:
          "personal-img" 
          "personal-info"
          "about-me"
          "about-img";
      }

    .language-grid-container {
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "html"
          "css"
          "js";
      }

      .contact-grid-container {
        padding-top: 6rem;
        padding-bottom: 6rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 3rem 0px;
        grid-template-areas:
            "form-label"
            "form-container";
        }
}

@media only screen and (max-width: 800px) {
    .build-grid-container {
        width: 100%;
        margin: 0 auto;
        padding-top: 3rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
        gap: 3rem 0;
        grid-template-areas:
            "evan-blog"
            "contractor"
            "cantstopcbus"
            "hillside"  
            "port-img"
            "grocery-list" 
        }
}

@media only screen and (min-width: 700px)
                   and (max-width: 1050px) {
    .language-grid-container {
        padding-top: 3rem;
        padding-bottom: 2rem;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        gap: 0px 0px;
        grid-template-areas:
          "html css"
          "js    js";
      }
}



