html {
    font-family: 'Roboto', 'sans-serif';
    min-width: 350px;
}

body {
    background-color: black;
    max-width: 150rem; 
    margin: 0 auto;
}

main {
    background-color: black;
    z-index: 2;
    position: sticky;
}

.heavy {
    font-size: 1.125rem;
}

.container {
    position: sticky;
    z-index: 2;
    background-color: white;
    padding-bottom: 1rem;
    margin-top: 6rem;
    margin-bottom: 3rem;
    width: 100%;
}

.footer-info {
    grid-area: footer-info;
}

.title {
    color: white;
}

h1 {
    text-align: center;
    font-variant: small-caps;
    font-size: 3rem;
    padding-bottom: 1rem;
    padding-top: 6rem;
}

h2 {
    padding-top: 1rem;
    margin: 0 auto;
}

.info {
    margin: 0 auto;
    text-align: center;
    font-size: 1.25rem;
    width: 80%;
}

a {
    color: rgb(240, 72, 72);
}

/* header Sections */

header {
    height: 3rem;
    width: 100%;
    position: fixed;
    display: inline-flex;
    align-items: center;
    z-index: 3;
    background-color: #ffffff;
    overflow: hidden;
    top: 0;
    left: 0;
    border-bottom: black solid 1px;
}

.social-img {
    padding-top: .125rem;
}

.guide {
    list-style-type: none;
    display: inline-flex;
}

.banner-menu {
    position: absolute;
    right: .5rem;
    margin-top: .5rem;
    margin-bottom: .5rem;
}

.logo {
    height: 3rem;
    position: relative;
    left: 1rem;
    margin-top: .5rem;
}

.nav-btn {
    font-size: 1.5rem;
    text-decoration: none;
    margin-right: 2rem;
    color: black;
}

.nav-btn:hover {
    text-decoration: underline;
    color: gray;
}

.joke {
    cursor: default;
}

/* buttons */

.btn {
    background: black;
    background-image: -webkit-linear-gradient(top, black, #505050);
    background-image: -moz-linear-gradient(top, black, #505050);
    background-image: -ms-linear-gradient(top, black, #505050);
    background-image: -o-linear-gradient(top, black, #505050);
    background-image: linear-gradient(to bottom, black, #505050);
    border-radius: 28px;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin-left: .5rem;
    margin-right: .5rem;
  }
  
  .btn:hover {
    background: #505050;
    background-image: -webkit-linear-gradient(top, #505050, black);
    background-image: -moz-linear-gradient(top, #505050, black);
    background-image: -ms-linear-gradient(top, #505050, black);
    background-image: -o-linear-gradient(top, #505050, black);
    background-image: linear-gradient(to bottom, #505050, black);
    text-decoration: none;
  }

  /* footer section */

.footer {
    z-index: 1;
    position: fixed;
    bottom: 0;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
    left: 0;
    right: 0; 
}

.footer-grid-container {
    margin-right: 2rem;
    list-style-type: none;
    text-decoration: none;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    gap: 1rem 1rem;
    grid-template-areas:
      "footer-info";
}

/* index.html */

.main-title1 {
    font-size: 5rem;
}
  
#main-title2 {
    font-size: 3rem;
}

.home-grid-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 6rem 0rem;
    grid-template-areas:
      "personal-img personal-info"
      "about-me about-img";
  }

.personal-img { 
    grid-area: personal-img;
    margin: 0 auto;
}
  
.personal-info { 
    grid-area: personal-info; 
    width: 70%; 
    text-align: center;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: black;
    color: white;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.about-me { 
    grid-area: about-me;
    margin: 0 auto;
    width: 65%;
    text-align: center;
    padding: 1rem 3rem 1rem 3rem;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
  
.about-img { 
    grid-area: about-img;
    margin: 0 auto;
}
  
.img-container {
    margin: 0 auto;
    width: 20rem;
    height: 100%;
    border: 3px solid black;
}

.basic-info {
    margin: 0 auto;
}

.skill-set {
    color: white;
    text-align: center;
    padding-top: 3rem;
}

.skill-set-grid-container {
    padding-top: 6rem;
    margin-bottom: 4rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "web-dev front-end project";
  }
  
.web-dev { 
    grid-area: web-dev; 
}
  
.front-end { 
    grid-area: front-end; 
}
  
.project { 
    grid-area: project; 
}

.skill-set-img {
    padding-bottom: 2rem;
}

.skill-set-name {
    padding-bottom: 1rem;
}

.language {
    text-align: center;
}

.language-title {
    padding-top: 6rem;
}

.language-grid-container {
    padding-top: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
      "html css js";
  }
  
.html { 
    grid-area: html; 
}
  
.css { 
    grid-area: css; 
}
  
.js { 
      grid-area: js; 
}
  
.bottom-contact {
    color: white;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}

.contact-btn {
    margin-top: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: white;
    border: solid grey 3px;
}

.contact-btn:hover {
    cursor: pointer;
}

.contact-btn:focus {
    outline-color: rgb(240, 72, 72);
}

/* builds page */

.build-grid-container {
    width: 100%;
    margin: 0 auto;
    padding-top: 3rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 3rem 0;
    grid-template-areas:
        "evan-blog contractor"
        "cantstopcbus hillside" 
        "port-img grocery-list"
    }

.build-img {
    width: 70%;
    height: auto;
    max-height: 22rem;
    max-width: 27rem;
    border: 2px solid black;
}

.build-info {
    padding-top: 1rem;
    margin: 0 auto;
    width: 80%;
}

.port-img { 
    grid-area: port-img; 
}

.grocery-list { 
    grid-area: grocery-list; 
}

.cantstopcbus {
    grid-area: cantstopcbus; 
}

.evan-blog {
    grid-area: evan-blog
}

.contractor {
    grid-area: contractor
}

/* contact page */

.contact-grid-container {
    padding-top: 6rem;
    padding-bottom: 6rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-template-areas:
        "form-label form-container";
    }
      
.form-label { 
    grid-area: form-label; 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
      
.form-container { 
    grid-area: form-container; 
    padding-top: 1rem;
    border: 3px solid black;
    width: 80%;
    margin: 0 auto;
    text-align: center
}

#myform {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.form-element {
    padding-top: 1rem;
}

input {
    width: 15.75rem;
    height: 1.5rem;
    font-size: 1.125rem;
}

label {
    font-size: 1.4rem;
}

textarea  {
    font-size: 1.5rem;
    max-width: 450px;
    font-family: 'Roboto', 'sans-serif';
}

.form-field {
    margin-top: .25rem;
}

.contact-btn-container {
    margin-bottom: 2rem;
}

input:focus {
    outline-color: rgb(240, 72, 72);
}

textarea:focus {
    outline-color: rgb(240, 72, 72);
}

.inverse-contact-btn {
    margin-top: 2rem;
    padding: .5rem;
    font-size: 1.5rem;
    background-color: black;
    color: white;
    border: solid grey 3px;
}